$dim-gray: #696969ff;
$davys-grey: #4f4f4fff;
$jet: #333333ff;
$eerie-black: #252525ff;
$eerie-black-2: #141414ff;
$rich-black: #033933ff;
$blue-green-color-wheel: #024c42ff;
$pine-green: #017365ff;
$pine-green-2: #1e776dff;
$pine-green-3: rgb(49, 161, 148);
$pine-green-light: rgb(89, 224, 208);

$gradient-top: linear-gradient(0deg, #696969ff, #4f4f4fff, #333333ff, #252525ff, #141414ff, #033933ff, #024c42ff, #017365ff, #1e776dff);
$gradient-right: linear-gradient(90deg, #696969ff, #4f4f4fff, #333333ff, #252525ff, #141414ff, #033933ff, #024c42ff, #017365ff, #1e776dff);
$gradient-bottom: linear-gradient(180deg, #696969ff, #4f4f4fff, #333333ff, #252525ff, #141414ff, #033933ff, #024c42ff, #017365ff, #1e776dff);
$gradient-left: linear-gradient(270deg, #696969ff, #4f4f4fff, #333333ff, #252525ff, #141414ff, #033933ff, #024c42ff, #017365ff, #1e776dff);
$gradient-top-right: linear-gradient(45deg, #696969ff, #4f4f4fff, #333333ff, #252525ff, #141414ff, #033933ff, #024c42ff, #017365ff, #1e776dff);
$gradient-bottom-right: linear-gradient(135deg, #696969ff, #4f4f4fff, #333333ff, #252525ff, #141414ff, #033933ff, #024c42ff, #017365ff, #1e776dff);
$gradient-top-left: linear-gradient(225deg, #696969ff, #4f4f4fff, #333333ff, #252525ff, #141414ff, #033933ff, #024c42ff, #017365ff, #1e776dff);
$gradient-bottom-left: linear-gradient(315deg, #696969ff, #4f4f4fff, #333333ff, #252525ff, #141414ff, #033933ff, #024c42ff, #017365ff, #1e776dff);
$gradient-radial: radial-gradient(#696969ff, #4f4f4fff, #333333ff, #252525ff, #141414ff, #033933ff, #024c42ff, #017365ff, #1e776dff);