@import url(./reset.css);
.messages {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: MIN(80vw, 700px); }

.message {
  background-color: #033933ff;
  padding: 15px;
  border-radius: 16px;
  box-shadow: 0px 3px 7px 3px black;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 5px;
  max-width: 700px; }
  .message .icon {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: inherit;
    font-size: clamp(3rem, 8vw, 5rem);
    align-self: center;
    justify-self: center; }
  .message *:not(.icon):not(h1) {
    grid-column: 2 /3; }
  .message h1 {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    text-align: center;
    font-size: 2rem; }
  .message p:not(.info) {
    font-size: 1rem; }
  .message i {
    font-style: italic;
    color: #59e0d0; }
  .message > *:not(h1) {
    background-color: #4f4f4fff;
    border-radius: 16px;
    padding: 5px 10px 5px 10px; }
  .message .info {
    justify-self: left;
    font-size: 0.7rem; }
  .message form {
    width: inherit;
    background-color: inherit;
    box-shadow: none; }
    .message form button {
      align-self: end; }

:root {
  font-size: clamp(12px, 3vw, 16px); }

body button:not(.btn),
.button {
  border: none;
  background-color: #017365ff;
  color: white;
  font-size: clamp(1rem, 2vw, 1.3rem);
  border-radius: 12px;
  padding: 5px 10px 5px 10px;
  box-shadow: 1px 1px 2px black;
  position: relative;
  text-overflow: clip; }
  body button:not(.btn):hover,
  .button:hover {
    background-color: #31a194;
    color: white;
    cursor: pointer; }
  body button:not(.btn):active,
  .button:active {
    top: 1px;
    left: 1px; }
  body button:not(.btn) i,
  .button i {
    margin-right: 5px; }

img {
  max-width: 100%;
  height: auto; }

.title {
  color: #696969ff;
  font-size: 4rem; }

.subtitle {
  color: #696969ff;
  font-size: 2.5rem; }

body {
  display: grid;
  grid-template-rows: 80px auto 50px;
  height: 100vh; }
  body > * {
    padding: 20px; }

header {
  background-color: #141414ff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px; }
  header img {
    height: 48px; }
  header ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px;
    gap: 10px; }
  header a:not(.button) {
    color: white;
    display: flex;
    gap: 5px; }
    header a:not(.button):hover {
      color: #59e0d0; }

body a {
  text-decoration: none;
  color: inherit; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.3rem; }

.items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  justify-items: center;
  width: 100%;
  gap: 30px; }
  .items > a:first-child {
    justify-self: center; }

em {
  color: #31a194; }

.hidden {
  display: none; }

main {
  background-color: #333333ff;
  color: white;
  display: flex;
  gap: 25px;
  align-items: center;
  flex-direction: column; }

textarea {
  resize: vertical; }

form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: clamp(250px, 70vw, 500px);
  gap: 15px;
  background-color: #696969ff;
  border-radius: 16px;
  box-shadow: 0px 0px 6px 2px black; }
  form .user_icon {
    align-self: center; }
    form .user_icon h2 {
      font-size: 5rem; }
  form p {
    font-size: 0.9rem; }
    form p a {
      color: #59e0d0; }
      form p a:hover {
        color: #31a194; }
  form .input_wrapper, form fieldset {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 5px; }
    form .input_wrapper > *:first-child, form fieldset > *:first-child {
      width: 120px;
      flex-shrink: 0;
      font-size: 1rem; }
    form .input_wrapper > *:nth-child(2), form fieldset > *:nth-child(2) {
      flex-grow: 1;
      flex-basis: 150px; }
    form .input_wrapper > div, form fieldset > div {
      text-align: center;
      color: #ffb6b6; }
    form .input_wrapper input[type="number"], form .input_wrapper select, form fieldset input[type="number"], form fieldset select {
      max-width: 70px; }
  form button {
    align-self: center; }
  form .categories_form {
    display: grid;
    font-size: 0.9rem;
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    gap: 5px; }
    form .categories_form .category_form {
      display: flex;
      gap: 5px; }

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  background-color: #333333ff;
  color: white; }
  footer h1 {
    font-size: 1.5rem; }
  footer img {
    width: 36px;
    height: 36px; }

@media (max-width: 800px) {
  header {
    flex-direction: column;
    gap: 5px; }
    header ul {
      width: 100%;
      padding: 0px;
      margin: 0px; }
  body {
    grid-template-rows: 130px auto 100px; } }

@media (max-width: 400px) {
  ul {
    justify-content: space-between; }
  .button {
    font-size: 0.9rem; } }

/*# sourceMappingURL=layout.css.map */